<h1>GRUPO ZAP: DATA SCIENCE CHALLENGE</h1>

In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import zap_helpers as zap

RAW_PATH   = '../data-raw/'
DATA_PATH  = '../data/'

GET_PARSE_SAVE_DATA = False

pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 1000)

In [2]:
if GET_PARSE_SAVE_DATA:  
    # GET
    base_url  = 'https://s3.amazonaws.com/grupozap-data-challenge/data/'
    url_train = base_url + 'source-4-ds-train.json.zip'
    url_test  = base_url + 'source-4-ds-test.json.zip'

    zap.download_json(url_train, RAW_PATH, 'train')
    zap.download_json(url_test, RAW_PATH, 'test')
    
    # PARSE
    json_train = RAW_PATH + 'train.json'
    json_test  = RAW_PATH + 'test.json'

    df_train = zap.parse_json(json_train)
    df_test  = zap.parse_json(json_test)
    
    # SAVE
    train_data = DATA_PATH + 'train.pkl'
    test_data  = DATA_PATH + 'test.pkl'
    
    zap.pkl_io(train_data, method='dump', file=df_train)
    zap.pkl_io(test_data, method='dump', file=df_test)

In [3]:
json_train = RAW_PATH + 'train.json'
json_test  = RAW_PATH + 'test.json'

df_train = zap.parse_json(json_train)
df_test  = zap.parse_json(json_test)

train_data = DATA_PATH + 'train.pkl'
test_data  = DATA_PATH + 'test.pkl'

zap.pkl_io(train_data, method='dump', file=df_train)
zap.pkl_io(test_data, method='dump', file=df_test)

Loading ../data-raw/test.json: 100.0%

In [4]:
train_data = DATA_PATH + 'train.pkl'
test_data  = DATA_PATH + 'test.pkl'

df_train = zap.pkl_io(train_data)
df_test  = zap.pkl_io(test_data)

# ANÁLISE EXPLORATÓRIA

#### Começaremos explorando uma amostra dos dados e seus tipos, para avaliar se a conversão JSON -> DataFrame está correta.

In [5]:
df_train.head()

,address_city,address_country,address_district,address_geoLocation_location_lat,address_geoLocation_location_lon,address_geoLocation_precision,address_locationId,address_neighborhood,address_state,address_street,address_streetNumber,address_unitNumber,address_zipCode,address_zone,bathrooms,bedrooms,createdAt,description,id,images,listingStatus,owner,parkingSpaces,pricingInfos_businessType,pricingInfos_price,publicationType,publisherId,suites,title,totalAreas,unitTypes,updatedAt,usableAreas,pricingInfos_monthlyCondoFee,pricingInfos_period,pricingInfos_rentalTotalPrice,pricingInfos_yearlyIptu
0,São Paulo,BR,,-23.612923,-46.614222,ROOFTOP,BR>Sao Paulo>NULL>Sao Paulo>Zona Sul>Jardim da...,Jardim da Saúde,São Paulo,Rua Juvenal Galeno,53,,04290030,Zona Sul,3,4,2017-02-07T13:21:40Z,"04 dorms sendo 01 suíte e closet, sala de esta...",787c7bd19d,[https://s3-sa-east-1.amazonaws.com/vr.images....,ACTIVE,False,6,SALE,700000,STANDARD,f4603b2b52,1,PRÓXIMO A AVENIDA PRESIDENTE TANCREDO NEVES,388,TWO_STORY_HOUSE,2018-12-06T19:27:12.623Z,388,NaN,NaN,NaN,NaN
1,São Paulo,BR,,-23.643962,-46.593475,RANGE_INTERPOLATED,BR>Sao Paulo>NULL>Sao Paulo>Zona Sul>Vila Liviero,Vila Santa Teresa (Zona Sul),São Paulo,Rua Juruaba,16,,04187320,Zona Sul,2,3,2016-03-21T18:35:17Z,"03 dorms sendo 01 suíte, sala, sala de jantar,...",4d68c0cdbe,[https://s3-sa-east-1.amazonaws.com/vr.images....,ACTIVE,False,2,SALE,336000,STANDARD,f4603b2b52,1,PRÓXIMO A FACULDADE UNIP CAMPUS ANCHIETA,129,HOME,2018-12-12T13:17:23.547Z,129,NaN,NaN,NaN,NaN
2,São Paulo,,,-23.568559,-46.647452,ROOFTOP,BR>Sao Paulo>NULL>Sao Paulo>Centro>Cerqueira C...,Bela Vista,São Paulo,Avenida Paulista,402,,01311000,,4,0,2018-12-18T23:47:03.425Z,"Andar com 395,70m² de área útil, 04 wcs, 05 va...",e7e0b554ac,[http://static.nidoimovel.com.br/d3d9446802a44...,ACTIVE,False,5,RENTAL,24929,STANDARD,501f6d5e94,0,Excelente Conjunto Comercial na Av. Paulista,None,COMMERCIAL_PROPERTY,NaN,396,4900.0,MONTHLY,29829.0,4040.0
3,São Paulo,,,-23.598023,-46.682781,RANGE_INTERPOLATED,BR>Sao Paulo>NULL>Sao Paulo>Zona Sul>Vila Olimpia,Vila Olímpia,São Paulo,Rua Alvorada,1190,,04550004,,2,3,2018-10-26T16:18:28.915Z,"Viva melhor e de um jeito novo, com privilégio...",6654d93423,[https://vr-prod-vivapro-images.s3.amazonaws.c...,ACTIVE,False,2,SALE,739643,STANDARD,527c7b0cc0,1,"Apartamento com 80m², 2 vagas próximo ao Parqu...",80,APARTMENT,2018-11-08T16:38:35.434Z,80,686.0,NaN,NaN,1610.0
4,São Paulo,,,-23.582497,-46.653027,RANGE_INTERPOLATED,BR>Sao Paulo>NULL>Sao Paulo>Zona Sul>Paraiso,Paraíso,São Paulo,Rua Curitiba,380,,04005030,,5,4,2018-12-14T18:06:51.342Z,Sua área é ocupada majoritariamente por instit...,9ffaf676ae,[https://vr-prod-vivapro-images.s3.amazonaws.c...,ACTIVE,False,5,SALE,7520099,STANDARD,527c7b0cc0,4,"Apartamento 332m², 4 suítes à venda próximo ao...",332,APARTMENT,2018-12-14T18:06:55.140Z,3322,6230.0,NaN,NaN,18900.0

In [6]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133964 entries, 0 to 133963
Data columns (total 37 columns):
address_city                        133964 non-null object
address_country                     133964 non-null object
address_district                    133964 non-null object
address_geoLocation_location_lat    133953 non-null float64
address_geoLocation_location_lon    133953 non-null float64
address_geoLocation_precision       133953 non-null object
address_locationId                  133964 non-null object
address_neighborhood                133964 non-null object
address_state                       133964 non-null object
address_street                      133964 non-null object
address_streetNumber                133964 non-null object
address_unitNumber                  133964 non-null object
address_zipCode                     133964 non-null object
address_zone                        133964 non-null object
bathrooms                           133051 non-null object
bedrooms                            130945 non-null object
createdAt                           133964 non-null object
description                         133964 non-null object
id                                  133964 non-null object
images                              133964 non-null object
listingStatus                       133964 non-null object
owner                               133964 non-null bool
parkingSpaces                       129539 non-null object
pricingInfos_businessType           133964 non-null object
pricingInfos_price                  133964 non-null int64
publicationType                     133964 non-null object
publisherId                         133964 non-null object
suites                              120347 non-null object
title                               133964 non-null object
totalAreas                          91132 non-null object
unitTypes                           133964 non-null object
updatedAt                           127367 non-null object
usableAreas                         133211 non-null object
pricingInfos_monthlyCondoFee        117127 non-null float64
pricingInfos_period                 29051 non-null object
pricingInfos_rentalTotalPrice       28714 non-null float64
pricingInfos_yearlyIptu             114612 non-null float64
dtypes: bool(1), float64(5), int64(1), object(30)
memory usage: 36.9+ MB

#### Removeremos as colunas:
 - *images*, composta por listas com URLs para imagens do imóvel. Não trabalharemos com imagem nesse modelo.
 - *description* e *title*, por serem textuais e necessitarem de processamento de linguagem natural para poderem ser usadas como features.

In [7]:
cols_to_remove = ['images', 'description', 'title']
df_train.drop(axis=1, columns=cols_to_remove, inplace=True)

#### Algumas colunas que deveriam ser numéricas foram lidas como **object**. Isso indica inconsistência nos dados. Um exemplo é a variável **address_unitNumber**. Esperamos que indique o número do apartamento, quando aplicável, mas o preenchimento dos dados é o seguinte:

In [8]:
df_train.address_unitNumber.value_counts()

                                      133933
Apartamento                                4
1140                                       1
Edifício Itaipu                            1
Sala 22                                    1
Quatro Estações                            1
Well Pompéia                               1
41                                         1
APTO 81                                    1
Condomínio                                 1
2º Andar                                   1
Campos Eliseos                             1
Edifício Itaici                            1
C                                          1
00                                         1
21                                         1
Vila Nova Leopoldina                       1
Edifício Bluemont                          1
451                                        1
191                                        1
APTO                                       1
Tribeca Nova Leopoldina                    1
CASA                                       1
Contracta- Fone Ricardo: 5509-7740         1
02                                         1
APARTAMENTO                                1
Dona Norma                                 1
Ville Bayard                               1
PRÓXIMO AO METRÔ CAMPO LIMPO               1
Name: address_unitNumber, dtype: int64

#### Além da quase totalidade dos dados serem nulos, o preenchimento dos não-nulos é incorreto. Vamos tratar esse e demais casos a seguir.

In [9]:
cols_to_numeric = ['address_streetNumber', 'address_unitNumber', 'bathrooms', 'bedrooms', 'parkingSpaces', 'suites', 'totalAreas', 'usableAreas']

df_train.loc[:, cols_to_numeric] = df_train.loc[:, cols_to_numeric].applymap(zap.convert_to_num)

#### Verificando os dados após a conversão:

In [10]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133964 entries, 0 to 133963
Data columns (total 34 columns):
address_city                        133964 non-null object
address_country                     133964 non-null object
address_district                    133964 non-null object
address_geoLocation_location_lat    133953 non-null float64
address_geoLocation_location_lon    133953 non-null float64
address_geoLocation_precision       133953 non-null object
address_locationId                  133964 non-null object
address_neighborhood                133964 non-null object
address_state                       133964 non-null object
address_street                      133964 non-null object
address_streetNumber                89637 non-null float64
address_unitNumber                  7 non-null float64
address_zipCode                     133964 non-null object
address_zone                        133964 non-null object
bathrooms                           133051 non-null float64
bedrooms                            130945 non-null float64
createdAt                           133964 non-null object
id                                  133964 non-null object
listingStatus                       133964 non-null object
owner                               133964 non-null bool
parkingSpaces                       129539 non-null float64
pricingInfos_businessType           133964 non-null object
pricingInfos_price                  133964 non-null int64
publicationType                     133964 non-null object
publisherId                         133964 non-null object
suites                              120347 non-null float64
totalAreas                          91132 non-null float64
unitTypes                           133964 non-null object
updatedAt                           127367 non-null object
usableAreas                         133211 non-null float64
pricingInfos_monthlyCondoFee        117127 non-null float64
pricingInfos_period                 29051 non-null object
pricingInfos_rentalTotalPrice       28714 non-null float64
pricingInfos_yearlyIptu             114612 non-null float64
dtypes: bool(1), float64(13), int64(1), object(19)
memory usage: 33.9+ MB

#### Vamos analisar as variáveis categóricas.

In [11]:
distinct_count = df_train.select_dtypes(include=['object']).apply(lambda x: x.value_counts().shape[0])
print(distinct_count)

address_city                          1
address_country                       2
address_district                      3
address_geoLocation_precision         5
address_locationId                 1185
address_neighborhood               1634
address_state                         4
address_street                    12933
address_zipCode                   15925
address_zone                          6
createdAt                        132239
id                               133964
listingStatus                         1
pricingInfos_businessType             2
publicationType                       2
publisherId                        3533
unitTypes                            19
updatedAt                        112004
pricingInfos_period                   3
dtype: int64

#### Algumas possuem poucos valores distintos. Vamos detalhar esses casos.

In [12]:
df_train.loc[:, list(distinct_count[distinct_count <= 6].index)].apply(lambda x: x.value_counts(dropna=False)).T.stack()

address_city                   São Paulo             133964.0
address_country                                      120112.0
                               BR                     13852.0
address_district                                     133951.0
                               Jaraguá                   11.0
                               Jaçanã                     2.0
address_geoLocation_precision  APPROXIMATE             7090.0
                               GEOMETRIC_CENTER       37623.0
                               NO_GEOCODE                30.0
                               RANGE_INTERPOLATED     14137.0
                               ROOFTOP                75073.0
                               NaN                       11.0
address_state                                             3.0
                               São Paulo             133714.0
                               SP                       246.0
                               Santa Catarina             1.0
address_zone                                         116265.0
                               Zona Sul                5193.0
                               Zona Norte              3847.0
                               Centro                  3243.0
                               Zona Leste              3107.0
                               Zona Oeste              2309.0
listingStatus                  ACTIVE                133964.0
pricingInfos_businessType      SALE                  105332.0
                               RENTAL                 28632.0
publicationType                STANDARD              131595.0
                               PREMIUM                 2369.0
pricingInfos_period            NaN                   104913.0
                               MONTHLY                29029.0
                               DAILY                     19.0
                               YEARLY                     3.0
dtype: float64

#### Podemos ver que todas as observações dessa amostra são de imóveis em São Paulo. Consequentemente, podemos excluir as colunas *address_city*, *addres_state* e *address_country*. A variável *listingStatus* pode sair da análise por ser constante. *address_district* será excluída por ser praticamente toda composta por valores nulos.

In [13]:
categorical_to_remove = ['address_city', 'address_state', 'address_country', 'address_district', 'listingStatus']
df_train.drop(axis=1, columns=categorical_to_remove, inplace=True)

cols_to_remove += categorical_to_remove

#### Armazenaremos `id` e `address_neighborhood` (removida da análise por ter alta cardinalidade) em variáveis distintas, pois serão usadas para análises futuras

In [14]:
id_col       = 'id'
neighbor_col = 'address_neighborhood'

id_train       = df_train.loc[:, id_col].values
neighbor_train = df_train.loc[:, neighbor_col].values

df_train.drop(axis=1, columns=[id_col, neighbor_col], inplace=True)

#### Vamos ver o panorama dos dados até o momento

In [15]:
df_train.head()

,address_geoLocation_location_lat,address_geoLocation_location_lon,address_geoLocation_precision,address_locationId,address_street,address_streetNumber,address_unitNumber,address_zipCode,address_zone,bathrooms,bedrooms,createdAt,owner,parkingSpaces,pricingInfos_businessType,pricingInfos_price,publicationType,publisherId,suites,totalAreas,unitTypes,updatedAt,usableAreas,pricingInfos_monthlyCondoFee,pricingInfos_period,pricingInfos_rentalTotalPrice,pricingInfos_yearlyIptu
0,-23.612923,-46.614222,ROOFTOP,BR>Sao Paulo>NULL>Sao Paulo>Zona Sul>Jardim da...,Rua Juvenal Galeno,53.0,NaN,04290030,Zona Sul,3.0,4.0,2017-02-07T13:21:40Z,False,6.0,SALE,700000,STANDARD,f4603b2b52,1.0,388.0,TWO_STORY_HOUSE,2018-12-06T19:27:12.623Z,388.0,NaN,NaN,NaN,NaN
1,-23.643962,-46.593475,RANGE_INTERPOLATED,BR>Sao Paulo>NULL>Sao Paulo>Zona Sul>Vila Liviero,Rua Juruaba,16.0,NaN,04187320,Zona Sul,2.0,3.0,2016-03-21T18:35:17Z,False,2.0,SALE,336000,STANDARD,f4603b2b52,1.0,129.0,HOME,2018-12-12T13:17:23.547Z,129.0,NaN,NaN,NaN,NaN
2,-23.568559,-46.647452,ROOFTOP,BR>Sao Paulo>NULL>Sao Paulo>Centro>Cerqueira C...,Avenida Paulista,402.0,NaN,01311000,,4.0,0.0,2018-12-18T23:47:03.425Z,False,5.0,RENTAL,24929,STANDARD,501f6d5e94,0.0,NaN,COMMERCIAL_PROPERTY,NaN,396.0,4900.0,MONTHLY,29829.0,4040.0
3,-23.598023,-46.682781,RANGE_INTERPOLATED,BR>Sao Paulo>NULL>Sao Paulo>Zona Sul>Vila Olimpia,Rua Alvorada,1190.0,NaN,04550004,,2.0,3.0,2018-10-26T16:18:28.915Z,False,2.0,SALE,739643,STANDARD,527c7b0cc0,1.0,80.0,APARTMENT,2018-11-08T16:38:35.434Z,80.0,686.0,NaN,NaN,1610.0
4,-23.582497,-46.653027,RANGE_INTERPOLATED,BR>Sao Paulo>NULL>Sao Paulo>Zona Sul>Paraiso,Rua Curitiba,380.0,NaN,04005030,,5.0,4.0,2018-12-14T18:06:51.342Z,False,5.0,SALE,7520099,STANDARD,527c7b0cc0,4.0,332.0,APARTMENT,2018-12-14T18:06:55.140Z,3322.0,6230.0,NaN,NaN,18900.0

In [16]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133964 entries, 0 to 133963
Data columns (total 27 columns):
address_geoLocation_location_lat    133953 non-null float64
address_geoLocation_location_lon    133953 non-null float64
address_geoLocation_precision       133953 non-null object
address_locationId                  133964 non-null object
address_street                      133964 non-null object
address_streetNumber                89637 non-null float64
address_unitNumber                  7 non-null float64
address_zipCode                     133964 non-null object
address_zone                        133964 non-null object
bathrooms                           133051 non-null float64
bedrooms                            130945 non-null float64
createdAt                           133964 non-null object
owner                               133964 non-null bool
parkingSpaces                       129539 non-null float64
pricingInfos_businessType           133964 non-null object
pricingInfos_price                  133964 non-null int64
publicationType                     133964 non-null object
publisherId                         133964 non-null object
suites                              120347 non-null float64
totalAreas                          91132 non-null float64
unitTypes                           133964 non-null object
updatedAt                           127367 non-null object
usableAreas                         133211 non-null float64
pricingInfos_monthlyCondoFee        117127 non-null float64
pricingInfos_period                 29051 non-null object
pricingInfos_rentalTotalPrice       28714 non-null float64
pricingInfos_yearlyIptu             114612 non-null float64
dtypes: bool(1), float64(13), int64(1), object(12)
memory usage: 26.7+ MB

In [17]:
distinct_count = df_train.select_dtypes(include=['object']).apply(lambda x: x.value_counts().shape[0])
print(distinct_count)

address_geoLocation_precision         5
address_locationId                 1185
address_street                    12933
address_zipCode                   15925
address_zone                          6
createdAt                        132239
pricingInfos_businessType             2
publicationType                       2
publisherId                        3533
unitTypes                            19
updatedAt                        112004
pricingInfos_period                   3
dtype: int64

#### Mais variáveis a serem removidas:
 - *address_unitNumber* por ter apenas 7 valores não-nulos
 - *address_locationId*, *address_street*, *address_zipCode*, *address_streetNumber* e *address_zone* por terem alta cardinalidade / informações de localização já estarem representadas por latitude e longitude
 - *address_geoLocation_precision* por ser apenas uma informação da precisão da latitude / longitude
 - *publisherId* pela alta cardinalidade

#### Variáveis com alta cardinalidade precisam de um tratamento especial para serem usadas como input para o modelo. Técnicas de encoding tradicionais, como o **One Hot Encoding**, não funcionam nesses casos pois acabam gerando milhares de colunas one-hot com alto grau de esparsidade, tornando o treino do modelo muito custoso computacionalmente e difícil de convergir. A técnica ideal é a **Categorical Embedding**, usando redes neurais para aprender a representar as categorias usando vetores numéricos densos de baixa dimensionalidade. Essa técnica também demanda tempo e poder de processamento, estando fora do escopo desse projeto.

In [18]:
cols_to_drop = ['address_unitNumber', 'address_locationId', 'address_street', 'address_zipCode', 'address_streetNumber', 'address_zone', 'address_geoLocation_precision', 'publisherId']
df_train.drop(axis=1, columns=cols_to_drop, inplace=True)

cols_to_remove += cols_to_drop

#### Vamos olhar com mais detalhe as variáveis restantes.

In [19]:
df_train.describe(include='all')

,address_geoLocation_location_lat,address_geoLocation_location_lon,bathrooms,bedrooms,createdAt,owner,parkingSpaces,pricingInfos_businessType,pricingInfos_price,publicationType,suites,totalAreas,unitTypes,updatedAt,usableAreas,pricingInfos_monthlyCondoFee,pricingInfos_period,pricingInfos_rentalTotalPrice,pricingInfos_yearlyIptu
count,133953.000000,133953.000000,133051.000000,130945.000000,133964,133964,129539.000000,133964,1.339640e+05,133964,120347.000000,9.113200e+04,133964,127367,1.332110e+05,1.171270e+05,29051,2.871400e+04,1.146120e+05
unique,NaN,NaN,NaN,NaN,132239,2,NaN,2,NaN,2,NaN,NaN,19,112004,NaN,NaN,3,NaN,NaN
top,NaN,NaN,NaN,NaN,2017-06-27T13:04:43Z,False,NaN,SALE,NaN,STANDARD,NaN,NaN,APARTMENT,2018-11-08T15:48:48.424Z,NaN,NaN,MONTHLY,NaN,NaN
freq,NaN,NaN,NaN,NaN,9,133926,NaN,105332,NaN,131595,NaN,NaN,72241,374,NaN,NaN,29029,NaN,NaN
mean,-23.554263,-46.643395,2.375683,2.327023,NaN,NaN,2.443187,NaN,6.637484e+05,NaN,1.106534,1.327059e+04,NaN,NaN,2.204832e+02,1.507679e+03,NaN,1.102183e+04,4.182520e+03
std,0.165147,0.318494,2.146044,2.140123,NaN,NaN,5.251624,NaN,1.317732e+06,NaN,1.218938,3.682658e+06,NaN,NaN,5.713502e+03,7.795406e+04,NaN,7.701223e+04,8.501091e+05
min,-23.848153,-46.820973,0.000000,0.000000,NaN,NaN,0.000000,NaN,7.000000e+01,NaN,0.000000,0.000000e+00,NaN,NaN,0.000000e+00,0.000000e+00,NaN,0.000000e+00,0.000000e+00
25%,-23.594475,-46.684151,1.000000,2.000000,NaN,NaN,1.000000,NaN,1.750000e+05,NaN,0.000000,6.000000e+01,NaN,NaN,6.000000e+01,0.000000e+00,NaN,2.310000e+03,0.000000e+00
50%,-23.558990,-46.654071,2.000000,2.000000,NaN,NaN,2.000000,NaN,3.710000e+05,NaN,1.000000,1.200000e+02,NaN,NaN,1.050000e+02,3.990000e+02,NaN,4.111500e+03,8.400000e+01
75%,-23.527634,-46.607885,3.000000,3.000000,NaN,NaN,3.000000,NaN,7.000000e+05,NaN,2.000000,2.500000e+02,NaN,NaN,2.000000e+02,8.610000e+02,NaN,9.100000e+03,3.640000e+02
max,0.000000,0.000000,200.000000,600.000000,NaN,NaN,589.000000,NaN,8.400000e+07,NaN,80.000000,1.111111e+09,NaN,NaN,2.025000e+06,2.443000e+07,NaN,1.190000e+07,2.830242e+08

#### Latitude e Longitude têm valores iguais a 0, quando deveriam variar bem próximo às suas respectivas médias.

In [20]:
df_train[df_train.address_geoLocation_location_lat == 0]

,address_geoLocation_location_lat,address_geoLocation_location_lon,bathrooms,bedrooms,createdAt,owner,parkingSpaces,pricingInfos_businessType,pricingInfos_price,publicationType,suites,totalAreas,unitTypes,updatedAt,usableAreas,pricingInfos_monthlyCondoFee,pricingInfos_period,pricingInfos_rentalTotalPrice,pricingInfos_yearlyIptu
4562,0.0,0.0,1.0,2.0,2016-02-25T17:58:46Z,False,3.0,SALE,276500,STANDARD,0.0,90.0,HOME,2018-11-29T16:40:38.708Z,90.0,NaN,NaN,NaN,NaN
9787,0.0,0.0,1.0,2.0,2014-10-28T16:19:45Z,False,3.0,SALE,266000,STANDARD,0.0,80.0,TWO_STORY_HOUSE,2018-11-29T16:47:43.835Z,80.0,NaN,NaN,NaN,NaN
9837,0.0,0.0,2.0,3.0,2014-12-15T13:42:31Z,False,2.0,SALE,301000,STANDARD,0.0,100.0,TWO_STORY_HOUSE,2018-11-29T16:46:30.658Z,100.0,NaN,NaN,NaN,NaN
10100,0.0,0.0,1.0,3.0,2014-11-26T17:14:20Z,False,1.0,RENTAL,2100,STANDARD,1.0,90.0,APARTMENT,2018-11-29T16:46:53.886Z,90.0,NaN,MONTHLY,2100.0,NaN
10269,0.0,0.0,2.0,3.0,2014-10-24T15:54:35Z,False,1.0,SALE,343000,STANDARD,1.0,292.0,HOME,2018-11-29T16:47:51.239Z,292.0,NaN,NaN,NaN,NaN
14954,0.0,0.0,3.0,2.0,2016-04-19T13:55:42Z,False,4.0,RENTAL,6160,STANDARD,2.0,242.0,APARTMENT,2018-11-08T13:04:03.023Z,242.0,2100.0,MONTHLY,8260.0,10500.0

In [21]:
df_train[df_train.address_geoLocation_location_lon == 0]

,address_geoLocation_location_lat,address_geoLocation_location_lon,bathrooms,bedrooms,createdAt,owner,parkingSpaces,pricingInfos_businessType,pricingInfos_price,publicationType,suites,totalAreas,unitTypes,updatedAt,usableAreas,pricingInfos_monthlyCondoFee,pricingInfos_period,pricingInfos_rentalTotalPrice,pricingInfos_yearlyIptu
4562,0.0,0.0,1.0,2.0,2016-02-25T17:58:46Z,False,3.0,SALE,276500,STANDARD,0.0,90.0,HOME,2018-11-29T16:40:38.708Z,90.0,NaN,NaN,NaN,NaN
9787,0.0,0.0,1.0,2.0,2014-10-28T16:19:45Z,False,3.0,SALE,266000,STANDARD,0.0,80.0,TWO_STORY_HOUSE,2018-11-29T16:47:43.835Z,80.0,NaN,NaN,NaN,NaN
9837,0.0,0.0,2.0,3.0,2014-12-15T13:42:31Z,False,2.0,SALE,301000,STANDARD,0.0,100.0,TWO_STORY_HOUSE,2018-11-29T16:46:30.658Z,100.0,NaN,NaN,NaN,NaN
10100,0.0,0.0,1.0,3.0,2014-11-26T17:14:20Z,False,1.0,RENTAL,2100,STANDARD,1.0,90.0,APARTMENT,2018-11-29T16:46:53.886Z,90.0,NaN,MONTHLY,2100.0,NaN
10269,0.0,0.0,2.0,3.0,2014-10-24T15:54:35Z,False,1.0,SALE,343000,STANDARD,1.0,292.0,HOME,2018-11-29T16:47:51.239Z,292.0,NaN,NaN,NaN,NaN
14954,0.0,0.0,3.0,2.0,2016-04-19T13:55:42Z,False,4.0,RENTAL,6160,STANDARD,2.0,242.0,APARTMENT,2018-11-08T13:04:03.023Z,242.0,2100.0,MONTHLY,8260.0,10500.0

#### Como são poucos casos, manteremos as observações na base. Faremos a mesma verificação para *bathrooms*, *bedrooms*, *parkingSpaces*, *suites*, *usableAreas* e *totalAreas* que aprensentam valores extremamente altos.
#### Começando por imóveis com mais de 10 banheiros:

In [24]:
df_train[df_train.bathrooms > 10].unitTypes.value_counts()

COMMERCIAL_PROPERTY           178
OFFICE                         63
SHED_DEPOSIT_WAREHOUSE         22
TWO_STORY_HOUSE                21
APARTMENT                      18
HOME                           10
BUSINESS                        9
CONDOMINIUM                     7
COMMERCIAL_BUILDING             6
PENTHOUSE                       3
STORE                           2
RESIDENTIAL_ALLOTMENT_LAND      1
RESIDENTIAL_BUILDING            1
Name: unitTypes, dtype: int64

#### Propriedades com mais de 10 banheiros são comerciais, escritórios e depósitos, em sua maioria. Os valores são condizentes.
#### E com mais de 7 quartos?

In [28]:
df_train[df_train.bedrooms > 7].unitTypes.value_counts()

COMMERCIAL_PROPERTY           65
TWO_STORY_HOUSE               55
HOME                          39
OFFICE                        33
BUSINESS                      13
APARTMENT                     12
PENTHOUSE                      6
SHED_DEPOSIT_WAREHOUSE         5
COMMERCIAL_BUILDING            4
RESIDENTIAL_ALLOTMENT_LAND     3
RESIDENTIAL_BUILDING           3
CONDOMINIUM                    2
STORE                          2
COMMERCIAL_ALLOTMENT_LAND      2
CLINIC                         1
Name: unitTypes, dtype: int64

#### A mesma tendência se verifica. Não há base para eliminar esses valores como sendo inválidos.

In [27]:
(pd.to_datetime(df_train.updatedAt, errors='coerce').dt.date - pd.to_datetime(df_train.createdAt, errors='coerce').dt.date).dt.days

0          667.0
1          996.0
2            NaN
3           13.0
4            0.0
5           66.0
6          163.0
7          261.0
8          135.0
9            0.0
10          40.0
11         241.0
12        1148.0
13         830.0
14         384.0
15         367.0
16           0.0
17          58.0
18         129.0
19           0.0
20          98.0
21           0.0
22         114.0
23         189.0
24         320.0
25           0.0
26          50.0
27           0.0
28         554.0
29         106.0
30          34.0
31          95.0
32           0.0
33         508.0
34           0.0
35           0.0
36           0.0
37          36.0
38         138.0
39          62.0
40           NaN
41          61.0
42           0.0
43           0.0
44           0.0
45         133.0
46         254.0
47           0.0
48           0.0
49           0.0
50         159.0
51         210.0
52           NaN
53           1.0
54         118.0
55         190.0
56          62.0
57           NaN
58         256.0
59           0.0
60           0.0
61           NaN
62           0.0
63          16.0
64           NaN
65         600.0
66           0.0
67           0.0
68         207.0
69           0.0
70         289.0
71        1107.0
72          33.0
73           0.0
74           0.0
75         623.0
76           0.0
77         426.0
78           0.0
79          23.0
80         213.0
81        1717.0
82         602.0
83           0.0
84         135.0
85           0.0
86           0.0
87         615.0
88         108.0
89           0.0
90           0.0
91           5.0
92           0.0
93          76.0
94         748.0
95           0.0
96           0.0
97           0.0
98         568.0
99           0.0
100          NaN
101          NaN
102        141.0
103       1114.0
104          0.0
105        363.0
106          0.0
107        615.0
108          0.0
109        517.0
110        308.0
111          0.0
112          0.0
113          NaN
114         56.0
115          NaN
116        357.0
117          0.0
118          0.0
119          0.0
120          0.0
121          0.0
122        169.0
123        402.0
124          0.0
125          NaN
126          0.0
127          NaN
128          NaN
129          NaN
130          6.0
131          0.0
132          0.0
133          NaN
134        132.0
135          NaN
136          8.0
137          0.0
138        447.0
139          0.0
140          NaN
141       1156.0
142        156.0
143        615.0
144        150.0
145          NaN
146          NaN
147         13.0
148          NaN
149          2.0
150        364.0
151          1.0
152        239.0
153          0.0
154          0.0
155         11.0
156        107.0
157          NaN
158          0.0
159          0.0
160          NaN
161          0.0
162          0.0
163         11.0
164          0.0
165         90.0
166          0.0
167        135.0
168         61.0
169          0.0
170          0.0
171        105.0
172         35.0
173          0.0
174         36.0
175          0.0
176        499.0
177         41.0
178        309.0
179          0.0
180         25.0
181         36.0
182          0.0
183          0.0
184          2.0
185          0.0
186          0.0
187        462.0
188        473.0
189        233.0
190        285.0
191          0.0
192         15.0
193         24.0
194        620.0
195        233.0
196        406.0
197        189.0
198         14.0
199          0.0
200        615.0
201          NaN
202        310.0
203          0.0
204         73.0
205        173.0
206        217.0
207        308.0
208          NaN
209        154.0
210        579.0
211          0.0
212          NaN
213          0.0
214          1.0
215         13.0
216         40.0
217        800.0
218         83.0
219          0.0
220          0.0
221          0.0
222          NaN
223          NaN
224          0.0
225          0.0
226        719.0
227        218.0
228        635.0
229          NaN
230          NaN
231         11.0
232          0.0
233          3.0
234          NaN
235          7.0
236          0.0
237          0.0
238        272.0
239         56.0
240          NaN
241        599.0
242        246.0
243          0.0
244          NaN
245          NaN
246          0.0
247          0.0
248          0.0
249         23.0
250        364.0
251        598.0
252        292.0
253          0.0
254        337.0
255         65.0
256          0.0
257        424.0
258        279.0
259        202.0
260          NaN
261          0.0
262          0.0
263          0.0
264          0.0
265          0.0
266          NaN
267          0.0
268          NaN
269          0.0
270          0.0
271          NaN
272          0.0
273          NaN
274          NaN
275          0.0
276          NaN
277          0.0
278          0.0
279          0.0
280          0.0
281          0.0
282          NaN
283          NaN
284         66.0
285          0.0
286          0.0
287          0.0
288          0.0
289          0.0
290          0.0
291          0.0
292          0.0
293          0.0
294          0.0
295          0.0
296        120.0
297          0.0
298          0.0
299          NaN
300          0.0
301          NaN
302          NaN
303          NaN
304          0.0
305        684.0
306          0.0
307        324.0
308          NaN
309          0.0
310          NaN
311          0.0
312          NaN
313          0.0
314          0.0
315          NaN
316          NaN
317          0.0
318          0.0
319          0.0
320          NaN
321          NaN
322          0.0
323          NaN
324         28.0
325          NaN
326          0.0
327          0.0
328        361.0
329          NaN
330          NaN
331          NaN
332          NaN
333          NaN
334          NaN
335        100.0
336          0.0
337          0.0
338        119.0
339         19.0
340        281.0
341         91.0
342          0.0
343        276.0
344          NaN
345          0.0
346          9.0
347        496.0
348        478.0
349          0.0
350        157.0
351          0.0
352          0.0
353        345.0
354        337.0
355        468.0
356        478.0
357         45.0
358          0.0
359        419.0
360        120.0
361         11.0
362          0.0
363          0.0
364          0.0
365          5.0
366          0.0
367         90.0
368          NaN
369        157.0
370          0.0
371          NaN
372          NaN
373          NaN
374         79.0
375        638.0
376        286.0
377         37.0
378       1239.0
379        587.0
380       1069.0
381        387.0
382        119.0
383        419.0
384        106.0
385        216.0
386          0.0
387        332.0
388        231.0
389        496.0
390        441.0
391         37.0
392        507.0
393        574.0
394         16.0
395        995.0
396        611.0
397         34.0
398       1232.0
399        778.0
400       1489.0
401         80.0
402        454.0
403         85.0
404        464.0
405       1515.0
406         83.0
407        387.0
408        588.0
409        381.0
410        880.0
411        442.0
412        664.0
413         16.0
414         96.0
415          0.0
416        965.0
417        169.0
418        247.0
419        757.0
420        253.0
421          NaN
422         25.0
423         21.0
424        477.0
425        264.0
426          7.0
427          7.0
428       1720.0
429        927.0
430        383.0
431        520.0
432          0.0
433        322.0
434        291.0
435        265.0
436        322.0
437        322.0
438        131.0
439        322.0
440        322.0
441         48.0
442        188.0
443        322.0
444        322.0
445        560.0
446         94.0
447        322.0
448        510.0
449        199.0
450        553.0
451        877.0
452        762.0
453        322.0
454        322.0
455        170.0
456        903.0
457         50.0
458       1178.0
459        561.0
460         15.0
461        198.0
462         29.0
463         31.0
464         42.0
465         31.0
466        299.0
467         68.0
468        322.0
469        170.0
470        560.0
471          0.0
472        577.0
473        218.0
474        167.0
475        194.0
476        170.0
477        564.0
478        941.0
479        572.0
480        458.0
481          0.0
482        138.0
483        574.0
484        456.0
485          7.0
486        418.0
487         21.0
488          7.0
489          7.0
490        629.0
491          7.0
492        854.0
493        593.0
494        440.0
495        172.0
496        253.0
497       1185.0
498       1199.0
499        759.0
           ...
133464     682.0
133465     214.0
133466     125.0
133467      28.0
133468     233.0
133469     177.0
133470     214.0
133471      62.0
133472      60.0
133473     165.0
133474      28.0
133475       NaN
133476     232.0
133477     125.0
133478      85.0
133479     494.0
133480     441.0
133481      34.0
133482      11.0
133483     211.0
133484     165.0
133485      89.0
133486     248.0
133487     191.0
133488      75.0
133489     538.0
133490     673.0
133491     649.0
133492      29.0
133493     374.0
133494     248.0
133495     457.0
133496     682.0
133497     979.0
133498     370.0
133499      35.0
133500      64.0
133501     234.0
133502      22.0
133503     212.0
133504     513.0
133505      97.0
133506      27.0
133507     652.0
133508     664.0
133509     653.0
133510     186.0
133511     285.0
133512       0.0
133513     668.0
133514      21.0
133515     919.0
133516      97.0
133517     115.0
133518     453.0
133519     108.0
133520       NaN
133521     535.0
133522     239.0
133523      38.0
133524     273.0
133525     664.0
133526     232.0
133527     146.0
133528      94.0
133529      66.0
133530     920.0
133531      51.0
133532      95.0
133533      61.0
133534     600.0
133535     675.0
133536     808.0
133537      33.0
133538     389.0
133539     457.0
133540      65.0
133541     149.0
133542     184.0
133543      93.0
133544       NaN
133545     253.0
133546    2371.0
133547      13.0
133548     279.0
133549     113.0
133550      96.0
133551     683.0
133552     413.0
133553      47.0
133554      66.0
133555     271.0
133556      17.0
133557     413.0
133558     340.0
133559      25.0
133560      17.0
133561     293.0
133562     866.0
133563     500.0
133564     161.0
133565    1076.0
133566      60.0
133567     114.0
133568     121.0
133569     340.0
133570     683.0
133571     808.0
133572      60.0
133573     111.0
133574    1062.0
133575      47.0
133576     107.0
133577     556.0
133578      85.0
133579     332.0
133580     697.0
133581      80.0
133582       NaN
133583     363.0
133584     697.0
133585     190.0
133586     594.0
133587       2.0
133588     302.0
133589     649.0
133590     743.0
133591     371.0
133592      10.0
133593     381.0
133594     245.0
133595     649.0
133596      74.0
133597      12.0
133598       0.0
133599      37.0
133600     306.0
133601     441.0
133602     737.0
133603     241.0
133604      38.0
133605      50.0
133606     391.0
133607     113.0
133608     133.0
133609     254.0
133610     554.0
133611    1160.0
133612     121.0
133613     167.0
133614     881.0
133615     272.0
133616      76.0
133617      95.0
133618     167.0
133619       1.0
133620     682.0
133621     242.0
133622       3.0
133623     178.0
133624      81.0
133625     204.0
133626     493.0
133627     124.0
133628     660.0
133629      47.0
133630     367.0
133631     150.0
133632      87.0
133633      43.0
133634      19.0
133635     153.0
133636       NaN
133637     254.0
133638     513.0
133639     557.0
133640       0.0
133641       2.0
133642      81.0
133643     574.0
133644     182.0
133645     606.0
133646      38.0
133647     989.0
133648     453.0
133649      51.0
133650     716.0
133651       0.0
133652      41.0
133653      19.0
133654       0.0
133655     238.0
133656      29.0
133657     225.0
133658     235.0
133659     103.0
133660      72.0
133661     219.0
133662     223.0
133663     555.0
133664     506.0
133665     149.0
133666     103.0
133667     197.0
133668     484.0
133669      40.0
133670     255.0
133671       0.0
133672    2035.0
133673     298.0
133674     495.0
133675     594.0
133676     588.0
133677      19.0
133678       2.0
133679     141.0
133680     232.0
133681     113.0
133682     749.0
133683     122.0
133684     112.0
133685     664.0
133686      15.0
133687     715.0
133688    1692.0
133689     483.0
133690     121.0
133691      24.0
133692       0.0
133693     104.0
133694     520.0
133695     290.0
133696     422.0
133697      26.0
133698     541.0
133699     939.0
133700      95.0
133701     104.0
133702       0.0
133703     258.0
133704      32.0
133705      82.0
133706      96.0
133707     340.0
133708     119.0
133709     519.0
133710     500.0
133711      92.0
133712     132.0
133713     100.0
133714      94.0
133715      92.0
133716     559.0
133717     163.0
133718     598.0
133719       6.0
133720     155.0
133721     382.0
133722     631.0
133723     531.0
133724       NaN
133725     104.0
133726      97.0
133727     291.0
133728    2003.0
133729       1.0
133730      19.0
133731     505.0
133732       0.0
133733      30.0
133734     121.0
133735    1204.0
133736     666.0
133737     675.0
133738     331.0
133739     339.0
133740     190.0
133741     525.0
133742      95.0
133743     169.0
133744     248.0
133745     266.0
133746      32.0
133747     303.0
133748      93.0
133749     402.0
133750     578.0
133751      89.0
133752      19.0
133753     655.0
133754     540.0
133755     322.0
133756     598.0
133757     274.0
133758     938.0
133759     512.0
133760      71.0
133761     772.0
133762     664.0
133763     960.0
133764      14.0
133765       0.0
133766    1140.0
133767     512.0
133768     495.0
133769     320.0
133770     233.0
133771     494.0
133772     516.0
133773     730.0
133774     169.0
133775      78.0
133776     114.0
133777     163.0
133778       2.0
133779     682.0
133780       NaN
133781     384.0
133782     682.0
133783     272.0
133784      95.0
133785     673.0
133786     683.0
133787       NaN
133788      97.0
133789     495.0
133790      67.0
133791     345.0
133792     567.0
133793     406.0
133794    1212.0
133795     360.0
133796     682.0
133797      39.0
133798     109.0
133799      94.0
133800     658.0
133801      88.0
133802       1.0
133803     117.0
133804     150.0
133805       NaN
133806     109.0
133807     223.0
133808       NaN
133809       8.0
133810      96.0
133811     920.0
133812     927.0
133813      92.0
133814     236.0
133815     307.0
133816     117.0
133817     103.0
133818     438.0
133819     638.0
133820     150.0
133821     545.0
133822      25.0
133823    1262.0
133824     482.0
133825      38.0
133826    1160.0
133827     198.0
133828      80.0
133829      48.0
133830       NaN
133831      77.0
133832     901.0
133833     232.0
133834     151.0
133835      14.0
133836     244.0
133837     105.0
133838     165.0
133839     163.0
133840       NaN
133841     348.0
133842     322.0
133843     506.0
133844     401.0
133845     149.0
133846     155.0
133847      33.0
133848     721.0
133849      96.0
133850      91.0
133851      65.0
133852     475.0
133853      96.0
133854     397.0
133855      23.0
133856    1490.0
133857      67.0
133858     447.0
133859     717.0
133860     297.0
133861     175.0
133862      19.0
133863       0.0
133864      35.0
133865      97.0
133866     280.0
133867    1311.0
133868    1212.0
133869      34.0
133870      85.0
133871     278.0
133872       NaN
133873      53.0
133874     675.0
133875    1035.0
133876       6.0
133877      40.0
133878     232.0
133879      40.0
133880      91.0
133881     235.0
133882     100.0
133883     137.0
133884      50.0
133885     626.0
133886      95.0
133887     496.0
133888     352.0
133889       NaN
133890       2.0
133891     515.0
133892      24.0
133893     149.0
133894       6.0
133895      64.0
133896      59.0
133897      63.0
133898    1346.0
133899     395.0
133900     197.0
133901      15.0
133902     658.0
133903     237.0
133904      91.0
133905     248.0
133906     274.0
133907     162.0
133908     494.0
133909     370.0
133910     348.0
133911      33.0
133912      88.0
133913     374.0
133914     224.0
133915     812.0
133916    2260.0
133917     184.0
133918      74.0
133919     285.0
133920    1139.0
133921     794.0
133922     247.0
133923     295.0
133924     271.0
133925     786.0
133926       8.0
133927     108.0
133928     269.0
133929     345.0
133930     239.0
133931     387.0
133932     683.0
133933     309.0
133934     115.0
133935     120.0
133936     188.0
133937      68.0
133938     588.0
133939     366.0
133940      24.0
133941     682.0
133942     356.0
133943      24.0
133944     315.0
133945       NaN
133946      73.0
133947     196.0
133948     184.0
133949      10.0
133950     125.0
133951    1236.0
133952     556.0
133953      47.0
133954     539.0
133955       NaN
133956     496.0
133957     301.0
133958     438.0
133959      89.0
133960     200.0
133961      17.0
133962     307.0
133963     112.0
Length: 133964, dtype: float64