<h1>GRUPO ZAP: DATA SCIENCE CHALLENGE</h1>

In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import zap_helpers as zap

RAW_PATH   = '../data-raw/'
DATA_PATH  = '../data/'

GET_PARSE_SAVE_DATA = False

pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 1000)

In [2]:
if GET_PARSE_SAVE_DATA:  
    # GET
    base_url  = 'https://s3.amazonaws.com/grupozap-data-challenge/data/'
    url_train = base_url + 'source-4-ds-train.json.zip'
    url_test  = base_url + 'source-4-ds-test.json.zip'

    zap.download_json(url_train, RAW_PATH, 'train-raw')
    zap.download_json(url_test, RAW_PATH, 'test-raw')
    
    # PARSE
    json_train = RAW_PATH + 'train-raw.json'
    json_test  = RAW_PATH + 'test-raw.json'

    df_train = zap.parse_json(json_train)
    df_test  = zap.parse_json(json_test)
    
    # SAVE
    train_data = DATA_PATH + 'train.pkl'
    test_data  = DATA_PATH + 'test.pkl'
    
    zap.pkl_io(train_data, method='dump', file=df_train)
    zap.pkl_io(test_data, method='dump', file=df_test)

In [3]:
train_data = DATA_PATH + 'train.pkl'
test_data  = DATA_PATH + 'test.pkl'

df_train = zap.pkl_io(train_data)
df_test  = zap.pkl_io(test_data)

# ANÁLISE EXPLORATÓRIA

#### Começaremos explorando uma amostra dos dados e seus tipos, para avaliar se a conversão JSON -> DataFrame está correta.

In [4]:
df_train.head()

,address_city,address_country,address_district,address_geoLocation_location_lat,address_geoLocation_location_lon,address_geoLocation_precision,address_locationId,address_neighborhood,address_state,address_street,address_streetNumber,address_unitNumber,address_zipCode,address_zone,bathrooms,bedrooms,createdAt,description,id,images,listingStatus,owner,parkingSpaces,pricingInfos_businessType,pricingInfos_price,publicationType,publisherId,suites,title,totalAreas,unitTypes,updatedAt,usableAreas,pricingInfos_monthlyCondoFee,pricingInfos_period,pricingInfos_rentalTotalPrice,pricingInfos_yearlyIptu
0,São Paulo,BR,,-23.612923,-46.614222,ROOFTOP,BR>Sao Paulo>NULL>Sao Paulo>Zona Sul>Jardim da...,Jardim da Saúde,São Paulo,Rua Juvenal Galeno,53,,04290030,Zona Sul,3,4,2017-02-07T13:21:40Z,"04 dorms sendo 01 suíte e closet, sala de esta...",787c7bd19d,[https://s3-sa-east-1.amazonaws.com/vr.images....,ACTIVE,False,6,SALE,700000,STANDARD,f4603b2b52,1,PRÓXIMO A AVENIDA PRESIDENTE TANCREDO NEVES,388,TWO_STORY_HOUSE,2018-12-06T19:27:12.623Z,388,NaN,NaN,NaN,NaN
1,São Paulo,BR,,-23.643962,-46.593475,RANGE_INTERPOLATED,BR>Sao Paulo>NULL>Sao Paulo>Zona Sul>Vila Liviero,Vila Santa Teresa (Zona Sul),São Paulo,Rua Juruaba,16,,04187320,Zona Sul,2,3,2016-03-21T18:35:17Z,"03 dorms sendo 01 suíte, sala, sala de jantar,...",4d68c0cdbe,[https://s3-sa-east-1.amazonaws.com/vr.images....,ACTIVE,False,2,SALE,336000,STANDARD,f4603b2b52,1,PRÓXIMO A FACULDADE UNIP CAMPUS ANCHIETA,129,HOME,2018-12-12T13:17:23.547Z,129,NaN,NaN,NaN,NaN
2,São Paulo,,,-23.568559,-46.647452,ROOFTOP,BR>Sao Paulo>NULL>Sao Paulo>Centro>Cerqueira C...,Bela Vista,São Paulo,Avenida Paulista,402,,01311000,,4,0,2018-12-18T23:47:03.425Z,"Andar com 395,70m² de área útil, 04 wcs, 05 va...",e7e0b554ac,[http://static.nidoimovel.com.br/d3d9446802a44...,ACTIVE,False,5,RENTAL,24929,STANDARD,501f6d5e94,0,Excelente Conjunto Comercial na Av. Paulista,None,COMMERCIAL_PROPERTY,NaN,396,4900.0,MONTHLY,29829.0,4040.0
3,São Paulo,,,-23.598023,-46.682781,RANGE_INTERPOLATED,BR>Sao Paulo>NULL>Sao Paulo>Zona Sul>Vila Olimpia,Vila Olímpia,São Paulo,Rua Alvorada,1190,,04550004,,2,3,2018-10-26T16:18:28.915Z,"Viva melhor e de um jeito novo, com privilégio...",6654d93423,[https://vr-prod-vivapro-images.s3.amazonaws.c...,ACTIVE,False,2,SALE,739643,STANDARD,527c7b0cc0,1,"Apartamento com 80m², 2 vagas próximo ao Parqu...",80,APARTMENT,2018-11-08T16:38:35.434Z,80,686.0,NaN,NaN,1610.0
4,São Paulo,,,-23.582497,-46.653027,RANGE_INTERPOLATED,BR>Sao Paulo>NULL>Sao Paulo>Zona Sul>Paraiso,Paraíso,São Paulo,Rua Curitiba,380,,04005030,,5,4,2018-12-14T18:06:51.342Z,Sua área é ocupada majoritariamente por instit...,9ffaf676ae,[https://vr-prod-vivapro-images.s3.amazonaws.c...,ACTIVE,False,5,SALE,7520099,STANDARD,527c7b0cc0,4,"Apartamento 332m², 4 suítes à venda próximo ao...",332,APARTMENT,2018-12-14T18:06:55.140Z,3322,6230.0,NaN,NaN,18900.0

In [5]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133964 entries, 0 to 133963
Data columns (total 37 columns):
address_city                        133964 non-null object
address_country                     133964 non-null object
address_district                    133964 non-null object
address_geoLocation_location_lat    133953 non-null float64
address_geoLocation_location_lon    133953 non-null float64
address_geoLocation_precision       133953 non-null object
address_locationId                  133964 non-null object
address_neighborhood                133964 non-null object
address_state                       133964 non-null object
address_street                      133964 non-null object
address_streetNumber                133964 non-null object
address_unitNumber                  133964 non-null object
address_zipCode                     133964 non-null object
address_zone                        133964 non-null object
bathrooms                           133051 non-null object
bedrooms                            130945 non-null object
createdAt                           133964 non-null object
description                         133964 non-null object
id                                  133964 non-null object
images                              133964 non-null object
listingStatus                       133964 non-null object
owner                               133964 non-null bool
parkingSpaces                       129539 non-null object
pricingInfos_businessType           133964 non-null object
pricingInfos_price                  133964 non-null int64
publicationType                     133964 non-null object
publisherId                         133964 non-null object
suites                              120347 non-null object
title                               133964 non-null object
totalAreas                          91132 non-null object
unitTypes                           133964 non-null object
updatedAt                           127367 non-null object
usableAreas                         133211 non-null object
pricingInfos_monthlyCondoFee        117127 non-null float64
pricingInfos_period                 29051 non-null object
pricingInfos_rentalTotalPrice       28714 non-null float64
pricingInfos_yearlyIptu             114612 non-null float64
dtypes: bool(1), float64(5), int64(1), object(30)
memory usage: 36.9+ MB

#### Removeremos as colunas:
 - *images*, composta por listas com URLs para imagens do imóvel. Não trabalharemos com imagem nesse modelo.
 - *description* e *title*, por serem textuais e necessitarem de processamento de linguagem natural para poderem ser usadas como features.

In [6]:
cols_to_remove = ['images', 'description', 'title']
df_train.drop(axis=1, columns=cols_to_remove, inplace=True)

#### Algumas colunas que deveriam ser numéricas foram lidas como **object**. Isso indica inconsistência nos dados. Um exemplo é a variável **address_unitNumber**. Esperamos que indique o número do apartamento, quando aplicável, mas o preenchimento dos dados é o seguinte:

In [7]:
df_train.address_unitNumber.value_counts()

                                      133933
Apartamento                                4
Sala 22                                    1
Dona Norma                                 1
21                                         1
CASA                                       1
Vila Nova Leopoldina                       1
41                                         1
Ville Bayard                               1
1140                                       1
C                                          1
451                                        1
APTO                                       1
Edifício Itaipu                            1
Edifício Bluemont                          1
00                                         1
02                                         1
PRÓXIMO AO METRÔ CAMPO LIMPO               1
APTO 81                                    1
Tribeca Nova Leopoldina                    1
Campos Eliseos                             1
2º Andar                                   1
Contracta- Fone Ricardo: 5509-7740         1
Condomínio                                 1
Quatro Estações                            1
Edifício Itaici                            1
APARTAMENTO                                1
Well Pompéia                               1
191                                        1
Name: address_unitNumber, dtype: int64

#### Além da quase totalidade dos dados serem nulos, o preenchimento dos não-nulos é incorreto. Vamos tratar esse e demais casos a seguir.

In [8]:
cols_to_numeric = ['address_streetNumber', 'address_unitNumber', 'bathrooms', 'bedrooms', 'parkingSpaces', 'suites', 'totalAreas', 'usableAreas']

df_train.loc[:, cols_to_numeric] = df_train.loc[:, cols_to_numeric].applymap(zap.convert_to_num)

#### Verificando os dados após a conversão:

In [9]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133964 entries, 0 to 133963
Data columns (total 34 columns):
address_city                        133964 non-null object
address_country                     133964 non-null object
address_district                    133964 non-null object
address_geoLocation_location_lat    133953 non-null float64
address_geoLocation_location_lon    133953 non-null float64
address_geoLocation_precision       133953 non-null object
address_locationId                  133964 non-null object
address_neighborhood                133964 non-null object
address_state                       133964 non-null object
address_street                      133964 non-null object
address_streetNumber                89637 non-null float64
address_unitNumber                  7 non-null float64
address_zipCode                     133964 non-null object
address_zone                        133964 non-null object
bathrooms                           133051 non-null float64
bedrooms                            130945 non-null float64
createdAt                           133964 non-null object
id                                  133964 non-null object
listingStatus                       133964 non-null object
owner                               133964 non-null bool
parkingSpaces                       129539 non-null float64
pricingInfos_businessType           133964 non-null object
pricingInfos_price                  133964 non-null int64
publicationType                     133964 non-null object
publisherId                         133964 non-null object
suites                              120347 non-null float64
totalAreas                          91132 non-null float64
unitTypes                           133964 non-null object
updatedAt                           127367 non-null object
usableAreas                         133211 non-null float64
pricingInfos_monthlyCondoFee        117127 non-null float64
pricingInfos_period                 29051 non-null object
pricingInfos_rentalTotalPrice       28714 non-null float64
pricingInfos_yearlyIptu             114612 non-null float64
dtypes: bool(1), float64(13), int64(1), object(19)
memory usage: 33.9+ MB

#### Vamos analisar as variáveis categóricas.

In [10]:
distinct_count = df_train.select_dtypes(include=['object']).apply(lambda x: x.value_counts().shape[0])
print(distinct_count)

address_city                          1
address_country                       2
address_district                      3
address_geoLocation_precision         5
address_locationId                 1185
address_neighborhood               1634
address_state                         4
address_street                    12933
address_zipCode                   15925
address_zone                          6
createdAt                        132239
id                               133964
listingStatus                         1
pricingInfos_businessType             2
publicationType                       2
publisherId                        3533
unitTypes                            19
updatedAt                        112004
pricingInfos_period                   3
dtype: int64

#### Algumas possuem poucos valores distintos. Vamos detalhar esses casos.

In [11]:
df_train.loc[:, list(distinct_count[distinct_count <= 6].index)].apply(lambda x: x.value_counts(dropna=False)).T.stack()

address_city                   São Paulo             133964.0
address_country                                      120112.0
                               BR                     13852.0
address_district                                     133951.0
                               Jaraguá                   11.0
                               Jaçanã                     2.0
address_geoLocation_precision  APPROXIMATE             7090.0
                               GEOMETRIC_CENTER       37623.0
                               NO_GEOCODE                30.0
                               RANGE_INTERPOLATED     14137.0
                               ROOFTOP                75073.0
                               NaN                       11.0
address_state                                             3.0
                               São Paulo             133714.0
                               SP                       246.0
                               Santa Catarina             1.0
address_zone                                         116265.0
                               Zona Sul                5193.0
                               Zona Norte              3847.0
                               Centro                  3243.0
                               Zona Leste              3107.0
                               Zona Oeste              2309.0
listingStatus                  ACTIVE                133964.0
pricingInfos_businessType      SALE                  105332.0
                               RENTAL                 28632.0
publicationType                STANDARD              131595.0
                               PREMIUM                 2369.0
pricingInfos_period            NaN                   104913.0
                               MONTHLY                29029.0
                               DAILY                     19.0
                               YEARLY                     3.0
dtype: float64

#### Podemos ver que todas as observações dessa amostra são de imóveis em São Paulo. Consequentemente, podemos excluir as colunas *address_city*, *addres_state* e *address_country*. A variável *listingStatus* pode sair da análise por ser constante. *address_district* será excluída por ser praticamente toda composta por valores nulos.

In [12]:
categorical_to_remove = ['address_city', 'address_state', 'address_country', 'address_district', 'listingStatus']
df_train.drop(axis=1, columns=categorical_to_remove, inplace=True)

cols_to_remove += categorical_to_remove

#### Armazenaremos `id` e `address_neighborhood` (removida da análise por ter alta cardinalidade) em variáveis distintas, pois serão usadas para análises futuras

In [13]:
id_col       = 'id'
neighbor_col = 'address_neighborhood'

id_train       = df_train.loc[:, id_col].values
neighbor_train = df_train.loc[:, neighbor_col].values

df_train.drop(axis=1, columns=[id_col, neighbor_col], inplace=True)

#### Vamos ver o panorama dos dados até o momento

In [14]:
df_train.head()

,address_geoLocation_location_lat,address_geoLocation_location_lon,address_geoLocation_precision,address_locationId,address_street,address_streetNumber,address_unitNumber,address_zipCode,address_zone,bathrooms,bedrooms,createdAt,owner,parkingSpaces,pricingInfos_businessType,pricingInfos_price,publicationType,publisherId,suites,totalAreas,unitTypes,updatedAt,usableAreas,pricingInfos_monthlyCondoFee,pricingInfos_period,pricingInfos_rentalTotalPrice,pricingInfos_yearlyIptu
0,-23.612923,-46.614222,ROOFTOP,BR>Sao Paulo>NULL>Sao Paulo>Zona Sul>Jardim da...,Rua Juvenal Galeno,53.0,NaN,04290030,Zona Sul,3.0,4.0,2017-02-07T13:21:40Z,False,6.0,SALE,700000,STANDARD,f4603b2b52,1.0,388.0,TWO_STORY_HOUSE,2018-12-06T19:27:12.623Z,388.0,NaN,NaN,NaN,NaN
1,-23.643962,-46.593475,RANGE_INTERPOLATED,BR>Sao Paulo>NULL>Sao Paulo>Zona Sul>Vila Liviero,Rua Juruaba,16.0,NaN,04187320,Zona Sul,2.0,3.0,2016-03-21T18:35:17Z,False,2.0,SALE,336000,STANDARD,f4603b2b52,1.0,129.0,HOME,2018-12-12T13:17:23.547Z,129.0,NaN,NaN,NaN,NaN
2,-23.568559,-46.647452,ROOFTOP,BR>Sao Paulo>NULL>Sao Paulo>Centro>Cerqueira C...,Avenida Paulista,402.0,NaN,01311000,,4.0,0.0,2018-12-18T23:47:03.425Z,False,5.0,RENTAL,24929,STANDARD,501f6d5e94,0.0,NaN,COMMERCIAL_PROPERTY,NaN,396.0,4900.0,MONTHLY,29829.0,4040.0
3,-23.598023,-46.682781,RANGE_INTERPOLATED,BR>Sao Paulo>NULL>Sao Paulo>Zona Sul>Vila Olimpia,Rua Alvorada,1190.0,NaN,04550004,,2.0,3.0,2018-10-26T16:18:28.915Z,False,2.0,SALE,739643,STANDARD,527c7b0cc0,1.0,80.0,APARTMENT,2018-11-08T16:38:35.434Z,80.0,686.0,NaN,NaN,1610.0
4,-23.582497,-46.653027,RANGE_INTERPOLATED,BR>Sao Paulo>NULL>Sao Paulo>Zona Sul>Paraiso,Rua Curitiba,380.0,NaN,04005030,,5.0,4.0,2018-12-14T18:06:51.342Z,False,5.0,SALE,7520099,STANDARD,527c7b0cc0,4.0,332.0,APARTMENT,2018-12-14T18:06:55.140Z,3322.0,6230.0,NaN,NaN,18900.0

In [15]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133964 entries, 0 to 133963
Data columns (total 27 columns):
address_geoLocation_location_lat    133953 non-null float64
address_geoLocation_location_lon    133953 non-null float64
address_geoLocation_precision       133953 non-null object
address_locationId                  133964 non-null object
address_street                      133964 non-null object
address_streetNumber                89637 non-null float64
address_unitNumber                  7 non-null float64
address_zipCode                     133964 non-null object
address_zone                        133964 non-null object
bathrooms                           133051 non-null float64
bedrooms                            130945 non-null float64
createdAt                           133964 non-null object
owner                               133964 non-null bool
parkingSpaces                       129539 non-null float64
pricingInfos_businessType           133964 non-null object
pricingInfos_price                  133964 non-null int64
publicationType                     133964 non-null object
publisherId                         133964 non-null object
suites                              120347 non-null float64
totalAreas                          91132 non-null float64
unitTypes                           133964 non-null object
updatedAt                           127367 non-null object
usableAreas                         133211 non-null float64
pricingInfos_monthlyCondoFee        117127 non-null float64
pricingInfos_period                 29051 non-null object
pricingInfos_rentalTotalPrice       28714 non-null float64
pricingInfos_yearlyIptu             114612 non-null float64
dtypes: bool(1), float64(13), int64(1), object(12)
memory usage: 26.7+ MB

In [16]:
distinct_count = df_train.select_dtypes(include=['object']).apply(lambda x: x.value_counts().shape[0])
print(distinct_count)

address_geoLocation_precision         5
address_locationId                 1185
address_street                    12933
address_zipCode                   15925
address_zone                          6
createdAt                        132239
pricingInfos_businessType             2
publicationType                       2
publisherId                        3533
unitTypes                            19
updatedAt                        112004
pricingInfos_period                   3
dtype: int64

#### Mais variáveis a serem removidas:
 - *address_unitNumber* por ter apenas 7 valores não-nulos
 - *address_locationId*, *address_street*, *address_zipCode*, *address_streetNumber* e *address_zone* por terem alta cardinalidade / informações de localização já estarem representadas por latitude e longitude
 - *address_geoLocation_precision* por ser apenas uma informação da precisão da latitude / longitude
 - *publisherId* pela alta cardinalidade

#### Variáveis com alta cardinalidade precisam de um tratamento especial para serem usadas como input para o modelo. Técnicas de encoding tradicionais, como o **One Hot Encoding**, não funcionam nesses casos pois acabam gerando milhares de colunas one-hot com alto grau de esparsidade, tornando o treino do modelo muito custoso computacionalmente e difícil de convergir. A técnica ideal é a **Categorical Embedding**, usando redes neurais para aprender a representar as categorias usando vetores numéricos densos de baixa dimensionalidade. Essa técnica também demanda tempo e poder de processamento, estando fora do escopo desse projeto.

In [17]:
cols_to_drop = ['address_unitNumber', 'address_locationId', 'address_street', 'address_zipCode', 'address_streetNumber', 'address_zone', 'address_geoLocation_precision', 'publisherId']
df_train.drop(axis=1, columns=cols_to_drop, inplace=True)

cols_to_remove += cols_to_drop

In [18]:
df_train.describe(include='all')

,address_geoLocation_location_lat,address_geoLocation_location_lon,bathrooms,bedrooms,createdAt,owner,parkingSpaces,pricingInfos_businessType,pricingInfos_price,publicationType,suites,totalAreas,unitTypes,updatedAt,usableAreas,pricingInfos_monthlyCondoFee,pricingInfos_period,pricingInfos_rentalTotalPrice,pricingInfos_yearlyIptu
count,133953.000000,133953.000000,133051.000000,130945.000000,133964,133964,129539.000000,133964,1.339640e+05,133964,120347.000000,9.113200e+04,133964,127367,1.332110e+05,1.171270e+05,29051,2.871400e+04,1.146120e+05
unique,NaN,NaN,NaN,NaN,132239,2,NaN,2,NaN,2,NaN,NaN,19,112004,NaN,NaN,3,NaN,NaN
top,NaN,NaN,NaN,NaN,2017-06-27T13:04:43Z,False,NaN,SALE,NaN,STANDARD,NaN,NaN,APARTMENT,2018-11-08T15:48:48.424Z,NaN,NaN,MONTHLY,NaN,NaN
freq,NaN,NaN,NaN,NaN,9,133926,NaN,105332,NaN,131595,NaN,NaN,72241,374,NaN,NaN,29029,NaN,NaN
mean,-23.554263,-46.643395,2.375683,2.327023,NaN,NaN,2.443187,NaN,6.637484e+05,NaN,1.106534,1.327059e+04,NaN,NaN,2.204832e+02,1.507679e+03,NaN,1.102183e+04,4.182520e+03
std,0.165147,0.318494,2.146044,2.140123,NaN,NaN,5.251624,NaN,1.317732e+06,NaN,1.218938,3.682658e+06,NaN,NaN,5.713502e+03,7.795406e+04,NaN,7.701223e+04,8.501091e+05
min,-23.848153,-46.820973,0.000000,0.000000,NaN,NaN,0.000000,NaN,7.000000e+01,NaN,0.000000,0.000000e+00,NaN,NaN,0.000000e+00,0.000000e+00,NaN,0.000000e+00,0.000000e+00
25%,-23.594475,-46.684151,1.000000,2.000000,NaN,NaN,1.000000,NaN,1.750000e+05,NaN,0.000000,6.000000e+01,NaN,NaN,6.000000e+01,0.000000e+00,NaN,2.310000e+03,0.000000e+00
50%,-23.558990,-46.654071,2.000000,2.000000,NaN,NaN,2.000000,NaN,3.710000e+05,NaN,1.000000,1.200000e+02,NaN,NaN,1.050000e+02,3.990000e+02,NaN,4.111500e+03,8.400000e+01
75%,-23.527634,-46.607885,3.000000,3.000000,NaN,NaN,3.000000,NaN,7.000000e+05,NaN,2.000000,2.500000e+02,NaN,NaN,2.000000e+02,8.610000e+02,NaN,9.100000e+03,3.640000e+02
max,0.000000,0.000000,200.000000,600.000000,NaN,NaN,589.000000,NaN,8.400000e+07,NaN,80.000000,1.111111e+09,NaN,NaN,2.025000e+06,2.443000e+07,NaN,1.190000e+07,2.830242e+08

In [21]:
pd.to_datetime(df_train.createdAt, errors='coerce')

0               2017-02-07 13:21:40+00:00
1               2016-03-21 18:35:17+00:00
2        2018-12-18 23:47:03.425000+00:00
3        2018-10-26 16:18:28.915000+00:00
4        2018-12-14 18:06:51.342000+00:00
5        2018-10-09 06:37:15.236000+00:00
6        2018-05-29 18:11:31.347000+00:00
7        2018-04-16 15:28:09.667000+00:00
8        2018-06-26 16:09:07.313000+00:00
9        2019-01-09 18:40:00.306000+00:00
10       2018-09-29 06:40:11.519000+00:00
11       2018-03-12 02:23:17.006000+00:00
12              2015-09-17 13:54:32+00:00
13              2016-07-31 14:46:14+00:00
14       2017-10-20 12:32:28.397000+00:00
15       2017-11-06 16:49:06.344000+00:00
16       2019-01-12 14:40:12.677000+00:00
17       2018-09-11 00:01:12.704000+00:00
18       2018-07-02 18:36:06.196000+00:00
19       2018-12-05 16:12:28.223000+00:00
20       2018-08-02 04:06:47.933000+00:00
21       2019-01-18 19:28:01.526000+00:00
22       2018-07-17 18:37:15.090000+00:00
23       2018-06-07 18:57:10.552000+00:00
24       2018-01-19 11:30:52.702000+00:00
25       2019-01-14 23:06:29.958000+00:00
26       2018-10-25 21:43:13.349000+00:00
27       2018-12-08 17:49:57.896000+00:00
28       2017-07-05 13:51:32.603000+00:00
29       2018-07-25 18:14:25.049000+00:00
30       2018-10-05 17:39:22.037000+00:00
31       2018-09-01 01:20:55.671000+00:00
32       2018-12-14 23:14:13.042000+00:00
33       2017-08-17 16:40:29.247000+00:00
34       2018-12-05 10:13:27.021000+00:00
35       2018-12-26 15:41:44.949000+00:00
36       2019-01-09 18:46:23.013000+00:00
37       2018-10-30 14:44:34.920000+00:00
38       2018-06-23 12:34:10.930000+00:00
39       2018-09-07 01:01:33.295000+00:00
40       2018-12-04 21:28:34.344000+00:00
41       2018-11-28 20:36:53.010000+00:00
42       2018-12-07 10:33:58.637000+00:00
43       2018-12-13 14:44:23.334000+00:00
44       2019-01-07 18:40:03.074000+00:00
45       2018-06-28 19:32:47.328000+00:00
46       2018-03-27 20:34:04.565000+00:00
47       2018-12-04 20:43:54.579000+00:00
48       2018-12-06 10:32:25.077000+00:00
49       2019-01-15 19:49:50.303000+00:00
50       2018-07-20 05:24:06.948000+00:00
51       2018-04-12 19:07:43.173000+00:00
52       2019-01-08 07:52:04.800000+00:00
53       2019-01-29 19:09:28.615000+00:00
54       2018-07-13 18:09:56.985000+00:00
55       2018-05-02 20:59:26.362000+00:00
56       2018-10-25 04:24:25.843000+00:00
57       2018-12-04 21:28:32.905000+00:00
58       2018-03-29 12:41:13.855000+00:00
59       2018-12-13 19:12:12.932000+00:00
60       2018-12-24 00:24:24.840000+00:00
61       2019-01-12 00:45:12.795000+00:00
62       2018-12-21 15:03:13.676000+00:00
63       2018-12-10 14:25:07.730000+00:00
64       2018-12-18 15:39:29.366000+00:00
65       2017-04-26 17:54:28.702000+00:00
66       2018-12-06 16:24:06.802000+00:00
67       2018-12-05 19:34:38.480000+00:00
68       2018-05-14 14:26:32.094000+00:00
69       2018-12-11 18:04:01.493000+00:00
70       2018-01-23 17:37:41.692000+00:00
71              2015-10-28 17:24:50+00:00
72       2018-11-01 13:23:11.291000+00:00
73       2018-12-10 16:01:54.293000+00:00
74       2019-01-14 23:21:45.762000+00:00
75       2017-04-27 17:58:05.327000+00:00
76       2019-01-24 15:27:06.995000+00:00
77       2017-10-28 12:10:59.808000+00:00
78       2019-01-09 12:18:26.855000+00:00
79       2018-10-16 19:03:01.409000+00:00
80       2018-06-15 17:49:09.048000+00:00
81              2014-02-25 18:32:19+00:00
82       2017-05-04 08:30:10.941000+00:00
83       2018-12-19 18:41:31.061000+00:00
84       2018-06-26 23:08:55.692000+00:00
85       2018-12-20 16:50:40.127000+00:00
86       2018-12-05 20:08:26.338000+00:00
87       2017-04-22 18:39:41.002000+00:00
88       2018-08-31 23:18:49.037000+00:00
89       2018-12-19 10:34:12.390000+00:00
90       2018-12-19 19:49:55.395000+00:00
91       2018-12-06 16:29:17.415000+00:00
92       2018-12-28 13:33:22.837000+00:00
93       2018-08-24 20:08:25.742000+00:00
94              2016-11-11 14:21:11+00:00
95       2019-01-09 18:43:38.770000+00:00
96       2019-01-24 18:35:28.196000+00:00
97       2018-12-13 15:43:35.610000+00:00
98       2017-04-19 14:44:19.071000+00:00
99       2018-12-10 16:42:05.627000+00:00
100      2019-01-08 07:52:04.805000+00:00
101      2018-12-18 15:39:51.940000+00:00
102      2018-06-20 00:29:30.067000+00:00
103             2015-10-21 11:47:47+00:00
104      2018-12-04 18:21:19.038000+00:00
105      2017-12-16 00:27:52.883000+00:00
106      2018-12-06 13:03:24.529000+00:00
107      2017-04-22 18:39:21.804000+00:00
108      2018-12-13 20:15:36.166000+00:00
109      2017-06-09 22:53:49.141000+00:00
110      2018-02-08 18:29:04.723000+00:00
111      2018-12-14 11:30:55.557000+00:00
112      2018-12-06 17:44:45.316000+00:00
113      2019-01-18 02:21:52.081000+00:00
114      2018-09-13 20:09:56.247000+00:00
115      2019-01-18 02:22:25.678000+00:00
116      2017-11-16 11:00:51.595000+00:00
117      2019-01-15 12:35:39.718000+00:00
118      2019-01-11 15:29:50.279000+00:00
119      2018-12-17 20:21:18.747000+00:00
120      2018-12-06 22:39:16.836000+00:00
121      2018-12-27 19:27:51.108000+00:00
122      2018-05-23 15:27:43.618000+00:00
123      2017-10-02 01:55:46.673000+00:00
124      2018-12-24 00:16:13.910000+00:00
125      2019-01-24 17:10:05.586000+00:00
126      2018-12-10 14:49:39.178000+00:00
127      2019-01-24 17:10:10.589000+00:00
128      2019-01-24 17:10:06.612000+00:00
129      2019-01-24 17:10:06.391000+00:00
130      2018-12-06 22:07:42.969000+00:00
131      2019-01-09 22:18:51.698000+00:00
132      2018-12-22 13:45:59.111000+00:00
133      2019-01-09 23:41:04.358000+00:00
134      2018-06-29 18:37:07.282000+00:00
135      2019-01-18 00:45:09.664000+00:00
136      2018-10-31 19:17:52.193000+00:00
137      2019-01-15 17:59:21.342000+00:00
138      2017-09-26 19:28:26.828000+00:00
139      2019-01-11 11:57:44.505000+00:00
140      2019-01-10 23:02:09.957000+00:00
141             2015-10-06 15:17:10+00:00
142      2018-08-21 17:46:49.176000+00:00
143      2017-04-22 18:39:16.467000+00:00
144      2018-06-11 14:08:52.549000+00:00
145      2018-12-26 13:25:23.231000+00:00
146      2019-01-10 23:02:09.919000+00:00
147      2018-12-14 12:51:26.470000+00:00
148      2019-01-24 17:10:07.800000+00:00
149      2018-12-05 20:38:15.835000+00:00
150      2018-01-16 13:55:09.560000+00:00
151      2018-12-17 20:47:28.729000+00:00
152      2018-03-14 16:41:14.050000+00:00
153      2018-12-05 16:52:52.223000+00:00
154      2018-12-10 13:02:12.288000+00:00
155      2018-12-27 12:16:06.407000+00:00
156      2018-08-28 19:46:38.267000+00:00
157      2019-01-24 17:10:03.703000+00:00
158      2018-12-27 21:49:47.996000+00:00
159      2019-01-02 16:00:51.379000+00:00
160      2018-12-28 02:27:57.450000+00:00
161      2019-01-14 17:53:59.818000+00:00
162      2018-12-13 18:29:29.757000+00:00
163      2018-12-27 17:37:31.878000+00:00
164      2018-12-14 10:59:27.966000+00:00
165      2018-11-22 17:40:06.257000+00:00
166      2018-12-11 13:12:37.964000+00:00
167      2018-06-26 22:39:28.963000+00:00
168      2018-09-08 16:39:51.522000+00:00
169      2019-01-26 17:32:37.561000+00:00
170      2018-12-07 18:23:03.046000+00:00
171      2018-07-26 22:07:05.232000+00:00
172      2018-10-04 03:33:08.819000+00:00
173      2019-01-11 12:31:58.314000+00:00
174      2018-10-30 18:39:14.309000+00:00
175      2018-12-11 16:43:36.371000+00:00
176      2017-06-27 15:37:04.948000+00:00
177      2018-10-25 20:35:26.278000+00:00
178      2018-04-12 20:20:05.410000+00:00
179      2018-12-06 10:10:37.085000+00:00
180      2018-12-21 16:40:19.214000+00:00
181      2018-10-30 18:31:38.215000+00:00
182      2019-01-11 12:35:59.113000+00:00
183      2018-12-14 13:35:57.304000+00:00
184      2019-01-03 06:41:02.686000+00:00
185      2019-01-15 16:34:30.671000+00:00
186      2018-12-05 12:02:08.926000+00:00
187      2017-08-03 19:05:17.183000+00:00
188      2017-08-19 21:04:57.425000+00:00
189      2018-04-16 13:39:41.906000+00:00
190      2018-02-24 21:57:02.009000+00:00
191      2019-01-05 23:42:10.069000+00:00
192      2018-12-26 17:22:10.030000+00:00
193      2018-10-15 21:34:11.803000+00:00
194      2017-04-22 18:36:54.978000+00:00
195      2018-03-20 15:14:11.064000+00:00
196      2017-10-27 10:08:04.552000+00:00
197      2018-06-22 18:13:49.937000+00:00
198      2018-12-13 14:05:14.215000+00:00
199      2018-12-10 17:15:00.045000+00:00
200      2017-04-22 18:39:28.298000+00:00
201      2018-12-07 06:18:29.460000+00:00
202      2018-03-07 14:53:37.094000+00:00
203      2018-12-13 16:52:36.377000+00:00
204      2018-08-27 15:22:53.028000+00:00
205      2018-06-22 18:40:46.577000+00:00
206      2018-04-05 18:53:11.015000+00:00
207      2018-03-13 19:11:31.013000+00:00
208      2018-12-05 06:11:25.610000+00:00
209      2018-06-07 23:29:41.272000+00:00
210      2017-06-08 20:40:40.265000+00:00
211      2018-12-11 15:55:24.544000+00:00
212      2018-12-07 06:04:24.266000+00:00
213      2018-12-12 00:52:04.991000+00:00
214      2018-12-06 17:24:35.902000+00:00
215      2018-10-26 12:13:19.774000+00:00
216      2018-10-26 00:36:07.655000+00:00
217             2016-08-30 17:09:44+00:00
218      2018-08-17 02:15:10.765000+00:00
219      2019-01-25 17:38:19.357000+00:00
220      2018-12-05 15:27:59.962000+00:00
221      2019-01-05 08:42:51.361000+00:00
222      2018-12-12 05:10:23.093000+00:00
223      2019-02-20 23:31:59.951000+00:00
224      2019-01-03 15:46:58.416000+00:00
225      2018-12-12 16:24:19.843000+00:00
226             2016-11-19 16:03:12+00:00
227      2018-04-04 22:11:47.192000+00:00
228             2017-03-10 14:32:01+00:00
229      2019-01-24 17:10:09.681000+00:00
230      2018-12-26 13:25:23.191000+00:00
231      2019-01-04 19:10:06.015000+00:00
232      2019-01-15 18:45:24.529000+00:00
233      2018-12-14 14:59:37.390000+00:00
234      2019-01-24 17:10:10.182000+00:00
235      2019-01-11 03:05:16.132000+00:00
236      2018-12-05 11:59:44.806000+00:00
237      2019-01-03 19:14:29.837000+00:00
238      2018-02-09 00:42:21.942000+00:00
239      2018-09-13 13:05:41.718000+00:00
240      2019-01-24 17:10:04.598000+00:00
241      2017-04-27 18:23:38.452000+00:00
242      2018-03-07 23:35:16.247000+00:00
243      2019-01-09 15:50:08.914000+00:00
244      2019-01-10 23:02:09.961000+00:00
245      2018-12-18 15:39:29.875000+00:00
246      2018-12-19 13:58:08.301000+00:00
247      2019-01-09 02:37:45.125000+00:00
248      2018-12-06 13:29:37.833000+00:00
249      2018-12-12 13:25:35.245000+00:00
250      2018-01-16 13:55:13.851000+00:00
251             2017-03-20 19:07:17+00:00
252      2018-03-29 07:13:59.421000+00:00
253      2018-12-14 10:20:08.618000+00:00
254      2017-12-06 12:08:18.126000+00:00
255      2018-09-04 05:16:39.862000+00:00
256      2018-12-07 15:13:36.897000+00:00
257      2017-10-07 00:50:14.194000+00:00
258      2018-02-02 20:37:25.627000+00:00
259      2018-04-20 15:40:11.695000+00:00
260      2019-02-20 23:18:45.494000+00:00
261      2018-12-17 12:31:17.339000+00:00
262      2019-01-04 10:29:55.420000+00:00
263      2019-01-07 03:31:13.856000+00:00
264      2018-12-22 22:38:34.511000+00:00
265      2018-12-18 13:36:52.903000+00:00
266      2019-02-20 23:18:45.404000+00:00
267      2019-01-24 11:23:50.416000+00:00
268      2019-02-20 23:18:46.799000+00:00
269      2018-12-28 13:05:14.806000+00:00
270      2018-12-20 15:21:30.756000+00:00
271      2019-02-20 23:18:47.376000+00:00
272      2019-02-20 18:02:09.611000+00:00
273      2019-02-20 23:18:46.024000+00:00
274      2019-02-20 23:18:46.314000+00:00
275      2019-01-10 15:53:56.492000+00:00
276      2019-02-20 23:18:45.699000+00:00
277      2019-01-03 14:15:50.982000+00:00
278      2018-12-12 11:45:30.888000+00:00
279      2019-01-24 16:29:01.936000+00:00
280      2019-02-20 22:31:52.270000+00:00
281      2018-12-12 11:04:47.560000+00:00
282      2019-02-20 23:18:47.289000+00:00
283      2019-02-20 23:18:45.389000+00:00
284      2018-09-03 00:22:24.093000+00:00
285      2018-12-07 17:47:04.059000+00:00
286      2018-12-06 00:35:39.435000+00:00
287      2018-12-13 15:18:58.836000+00:00
288      2019-01-04 19:14:53.097000+00:00
289      2018-12-20 16:06:07.028000+00:00
290      2018-12-05 14:45:17.639000+00:00
291      2018-12-13 16:11:37.536000+00:00
292      2018-12-14 12:02:41.046000+00:00
293      2019-01-09 18:16:53.295000+00:00
294      2018-12-14 18:37:44.375000+00:00
295      2018-12-05 20:11:14.541000+00:00
296      2018-08-15 19:20:58.960000+00:00
297      2018-12-05 10:28:35.036000+00:00
298      2019-01-24 15:03:17.709000+00:00
299      2019-02-20 19:40:56.923000+00:00
300      2018-12-15 14:44:20.199000+00:00
301      2019-01-24 17:10:10.308000+00:00
302      2019-01-02 13:45:07.212000+00:00
303      2019-01-24 17:10:09.099000+00:00
304      2018-12-04 20:10:33.298000+00:00
305             2017-02-10 16:22:36+00:00
306      2018-12-14 14:17:24.476000+00:00
307      2017-12-19 17:45:42.988000+00:00
308      2019-02-20 20:52:34.293000+00:00
309      2019-01-10 18:11:52.467000+00:00
310      2018-12-18 15:39:29.371000+00:00
311      2019-01-24 18:39:23.584000+00:00
312      2019-02-20 23:18:46.148000+00:00
313      2019-01-18 13:43:07.253000+00:00
314      2018-12-20 15:25:51.630000+00:00
315      2019-02-20 23:18:47.296000+00:00
316      2019-02-20 19:40:54.203000+00:00
317      2019-01-07 17:43:56.667000+00:00
318      2019-01-05 04:50:38.928000+00:00
319      2019-02-20 17:18:16.086000+00:00
320      2019-02-20 23:18:45.389000+00:00
321      2019-02-20 23:18:45.768000+00:00
322      2019-02-20 23:18:46.150000+00:00
323      2019-02-20 23:18:47.210000+00:00
324      2018-10-11 15:31:39.500000+00:00
325      2019-02-20 23:18:45.387000+00:00
326      2018-12-05 19:44:33.031000+00:00
327      2018-12-17 12:22:50.672000+00:00
328      2017-12-18 20:11:46.122000+00:00
329      2019-02-20 23:18:46.978000+00:00
330      2019-02-20 23:18:45.651000+00:00
331      2019-02-20 23:18:46.721000+00:00
332      2019-02-20 23:18:47.112000+00:00
333      2019-02-20 23:18:46.885000+00:00
334      2019-02-20 23:18:45.389000+00:00
335      2018-07-31 21:41:48.956000+00:00
336      2019-02-20 20:06:58.909000+00:00
337      2019-01-24 17:23:42.509000+00:00
338      2018-07-12 15:04:17.382000+00:00
339      2018-12-27 12:35:11.306000+00:00
340      2018-02-28 15:07:27.751000+00:00
341      2018-11-21 18:02:38.088000+00:00
342      2018-12-19 20:32:12.178000+00:00
343      2018-03-05 20:18:15.303000+00:00
344      2019-02-20 23:18:46.163000+00:00
345      2018-12-07 12:23:53.582000+00:00
346      2018-12-05 11:42:17.591000+00:00
347             2017-06-30 10:12:27+00:00
348      2017-08-21 17:55:18.931000+00:00
349      2019-01-09 15:35:18.561000+00:00
350      2018-08-03 23:22:21.968000+00:00
351      2018-12-13 14:19:39.656000+00:00
352      2018-12-27 13:47:58.950000+00:00
353      2017-11-28 17:39:12.270000+00:00
354      2017-12-06 13:30:37.231000+00:00
355      2017-09-16 18:48:38.470000+00:00
356      2017-09-06 00:06:17.746000+00:00
357      2018-12-11 22:11:43.785000+00:00
358      2018-12-18 17:35:38.136000+00:00
359      2017-09-15 16:24:12.537000+00:00
360      2018-07-11 16:35:50.936000+00:00
361      2019-01-14 15:46:25.576000+00:00
362      2019-01-07 11:46:48.662000+00:00
363      2019-01-03 23:13:45.771000+00:00
364      2018-12-10 18:30:30.007000+00:00
365      2018-12-06 20:25:57.288000+00:00
366      2019-01-14 18:25:17.222000+00:00
367      2018-08-10 20:32:57.594000+00:00
368      2019-02-20 22:20:00.980000+00:00
369      2018-08-03 23:23:46.336000+00:00
370      2018-12-19 20:19:16.748000+00:00
371      2019-01-24 17:10:09.399000+00:00
372      2019-01-24 17:10:06.511000+00:00
373      2019-01-24 17:10:10.292000+00:00
374      2018-08-21 16:54:52.309000+00:00
375             2017-02-08 12:50:25+00:00
376      2018-01-26 17:47:55.422000+00:00
377      2018-10-02 19:39:58.200000+00:00
378             2015-06-18 14:52:23+00:00
379      2017-04-29 06:49:58.938000+00:00
380             2015-12-05 13:19:44+00:00
381      2017-10-17 16:13:52.248000+00:00
382      2018-07-12 19:16:24.552000+00:00
383      2017-09-15 22:48:00.377000+00:00
384      2018-07-25 20:04:01.330000+00:00
385      2018-04-06 19:26:05.986000+00:00
386      2018-12-10 18:00:41.138000+00:00
387      2017-12-11 13:16:13.951000+00:00
388      2018-03-22 15:50:14.089000+00:00
389      2017-06-30 14:59:08.666000+00:00
390      2017-08-24 09:58:18.296000+00:00
391      2018-10-02 19:45:59.861000+00:00
392      2017-06-19 12:34:00.388000+00:00
393      2017-04-13 04:20:17.840000+00:00
394      2018-10-23 13:37:44.639000+00:00
395             2016-02-17 12:24:41+00:00
396      2017-04-13 22:45:40.861000+00:00
397      2018-10-05 10:33:56.429000+00:00
398             2015-06-25 19:11:24+00:00
399             2016-09-21 18:48:34+00:00
400             2014-10-11 09:19:35+00:00
401      2018-08-20 22:53:28.126000+00:00
402      2017-08-11 22:10:40.725000+00:00
403      2018-08-15 16:24:28.091000+00:00
404             2017-08-01 13:39:00+00:00
405             2014-09-15 14:56:18+00:00
406      2018-08-17 02:02:09.333000+00:00
407      2017-10-17 16:09:40.164000+00:00
408             2017-03-30 00:06:25+00:00
409      2017-10-23 21:53:49.410000+00:00
410             2016-07-03 19:44:19+00:00
411      2017-08-23 15:12:14.959000+00:00
412             2017-01-13 11:15:14+00:00
413      2018-10-23 18:29:01.954000+00:00
414      2018-08-04 06:00:24.161000+00:00
415      2018-12-15 13:15:37.484000+00:00
416             2016-03-18 19:53:46+00:00
417      2018-05-28 11:33:56.449000+00:00
418      2018-03-06 04:49:28.016000+00:00
419             2016-10-12 22:47:50+00:00
420      2018-02-28 22:27:36.123000+00:00
421      2018-11-28 04:43:35.711000+00:00
422      2018-11-01 13:11:48.025000+00:00
423      2018-11-05 11:40:09.148000+00:00
424             2017-07-19 00:29:26+00:00
425      2018-02-17 10:59:23.350000+00:00
426      2018-11-19 20:32:57.207000+00:00
427      2018-11-19 20:33:00.962000+00:00
428             2014-02-26 19:03:35+00:00
429             2016-04-25 16:06:27+00:00
430      2017-10-21 23:32:46.805000+00:00
431             2017-06-06 07:42:53+00:00
432      2018-11-22 21:40:41.437000+00:00
433      2017-12-26 14:20:33.234000+00:00
434      2018-01-26 21:25:17.690000+00:00
435      2018-02-23 12:36:54.332000+00:00
436      2017-12-26 14:21:46.456000+00:00
437      2017-12-26 14:21:25.130000+00:00
438      2018-07-11 16:35:46.674000+00:00
439      2017-12-26 14:21:11.725000+00:00
440      2017-12-26 14:21:58.948000+00:00
441      2018-10-02 20:34:37.862000+00:00
442      2018-05-04 16:42:00.671000+00:00
443      2017-12-26 14:21:04.378000+00:00
444      2017-12-26 14:20:52.253000+00:00
445      2017-04-28 22:20:22.101000+00:00
446      2018-08-13 18:21:39.704000+00:00
447      2017-12-26 14:20:53.835000+00:00
448      2017-06-29 14:29:40.384000+00:00
449      2018-04-23 23:27:59.011000+00:00
450             2017-05-18 05:25:56+00:00
451             2016-06-20 22:58:11+00:00
452             2016-10-07 17:43:56+00:00
453      2017-12-26 14:20:35.410000+00:00
454      2017-12-26 14:20:33.321000+00:00
455      2018-05-22 22:51:18.522000+00:00
456             2016-06-02 13:20:53+00:00
457      2018-09-19 11:57:12.397000+00:00
458             2015-08-23 03:07:49+00:00
459      2017-04-26 16:52:32.116000+00:00
460      2018-10-24 06:22:57.662000+00:00
461      2018-04-24 22:39:06.291000+00:00
462      2018-10-10 14:21:35.282000+00:00
463      2018-10-08 16:02:23.425000+00:00
464      2018-09-27 23:29:57.774000+00:00
465      2018-10-08 18:56:21.648000+00:00
466      2018-01-13 14:14:34.788000+00:00
467      2018-09-15 02:02:50.956000+00:00
468      2017-12-26 14:20:53.187000+00:00
469      2018-05-22 22:55:47.050000+00:00
470      2017-05-02 19:35:22.741000+00:00
471      2018-11-21 15:52:58.642000+00:00
472      2017-04-25 12:26:17.583000+00:00
473      2018-04-04 18:43:13.786000+00:00
474      2018-05-25 14:25:52.522000+00:00
475      2018-05-11 13:04:18.801000+00:00